$header-color: #575757;
$header-border-color: #a8a8a8;
$footer-color: #694646;
$main-menu-color: #3b50b1;
$main-menu-button-color: #192c85;
$title-text-color: #c5c7cc;
$task-detail-color: #b6b6b6;
$main-color-background: #eff2f5;
$main-color-background-hover: #d7dadd;
$main-color-background-2: #b6c3d3;
$main-color-background-2-hover: #929daa;
$main-color-content: #314396;
$main-color-focus: #27505a;
$button-color: #6a8fbb;
$button-color-hover: #48678b;
$main-text-color: #42464d;
$main-placeholder-color: #828b97;